$peach-color : rgb(219, 195, 195);
$orange-color : rgb(226 98 37);
$white-color : white;
$blue-color : #D3F2FF;
$yellow-color : #f3bb2e;
$black-color : black;
$grey-color : #7E7E7E;
$green-color : #2EBB77;
$lightgrey-color : rgba(0, 0, 0, 0.05);
$cream-color : #F2E6D6;
$lightgreen-color : #E3EFCE;




.main-menu > li > a > i {
    font-size: 0.8rem;
    margin-left: 10px;
  }

